%h1.page-title Stories

%table.stories
  %thead
    %tr
      %th
        %abbr{title: "Content Management System"} CMS
        ID
      %th Headline
      %th Created
      %th
  %tbody
    - @stories.each do |story|
      %tr.story
        %td.story__cms-id= story.cms_id
        %td.story__headline= story.headline.html_safe
        %td.story__created-at= story.created_at
        %td= link_to "Show", story
