.charts
  #stories-imported.panel
    %h1.panel__title Stoies Imported
    .panel__content
      .big-number= number_with_delimiter(Story.count)

  #stories-total.panel
    %h1.panel__title Stories Remaining
    .panel__content
      = stories_pie

#recent-imports
  %h1 Recent imports
  %ul
    - @stories.each do |story|
      = render partial: "stories/story", locals: { story: story }
