.card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin-bottom: 1em;
  
  * {
    font-family: "Open Sans", sans-serif;
  }

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;

    .cover {
      background: image-url("cover.png") repeat-y top right;
      position: absolute;
      right: 0;
      top: 0;
      width: 120px;
      height: 100%;
    }
  }

  &__title {
    float: left;
    font-size: 0.9em !important;
    font-weight: 700 !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 1em !important;
    width: 9999em;

    a {
      color: #333;
    }
  }

  &__show {
    background: green;
    color: white;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0.5em;
    width: 20%;
  }

  &__info {
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  &__info-segment {
    border-right: 1pX solid rgba(0, 0, 0, 0.2);
    float: left;

    &:last-child {
      border-right: none;
    }
  }
  
  &__info-segment-key {
    margin: 0;
    padding: 1em 1em 0.5em;
    font-size: 0.7em;
    text-transform: uppercase;
  }

  &__info-segment-val {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    padding: 0 1em 0.5em;
  }
}