- if signed_in?
  %li.has-children.account
    = link_to current_user.email, "#0"
    %ul
      %li= link_to "Sign out", sign_out_path, method: :delete
- else
  %li
    %strong= link_to "Sign in", sign_in_path
